<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <appSettings>
    <add key="FrameworkIoC" value="TomorrowSoft.Framework" />
    <add key="FrameworkClassMap" value="TomorrowSoft.Framework" />
    <add key="DataBaseType" value="SQLite" />
    <!--初始密码-->
    <add key="DefaultPassword" value="888888"/>
  </appSettings>
</configuration>