<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <!--<configSections>
    <section name="specFlow" type="TechTalk.SpecFlow.Configuration.ConfigurationSectionHandler, TechTalk.SpecFlow" />
  </configSections>-->
  <appSettings>
    <add key="webpages:Version" value="1.0.0.0" />
    <add key="ClientValidationEnabled" value="true" />
    <add key="UnobtrusiveJavaScriptEnabled" value="true" />
    <add key="ApplicationIoC" value="TommorrowSoft.Examine" />
    <add key="ApplicationClassMap" value="TommorrowSoft.Examine" />
    <add key="FrameworkIoC" value="TomorrowSoft.Framework" />
    <add key="FrameworkClassMap" value="TomorrowSoft.Framework" />
    <add key="DataBaseType" value="SQLiteThread" />
    <add key="ConnectionString" value="Data Source=E:\ExamineDB.db;Version=3;" />
    <add key="ClientSettingsProvider.ServiceUri" value="" />
    <add key="AcceptanceTestServerAddress" value="http://localhost:44076"/>
    <!--初始密码-->
    <add key="DefaultPassword" value="888888" />
  </appSettings>
  <system.web>
    <membership defaultProvider="ClientAuthenticationMembershipProvider">
      <providers>
        <add name="ClientAuthenticationMembershipProvider" type="System.Web.ClientServices.Providers.ClientFormsAuthenticationMembershipProvider, System.Web.Extensions, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" serviceUri="" />
      </providers>
    </membership>
    <roleManager defaultProvider="ClientRoleProvider" enabled="true">
      <providers>
        <add name="ClientRoleProvider" type="System.Web.ClientServices.Providers.ClientRoleProvider, System.Web.Extensions, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" serviceUri="" cacheTimeout="86400" />
      </providers>
    </roleManager>
  </system.web>
</configuration>